<body class="all_check">
     
 <div class="container mt-3">
        <p class="choice">お支払い方法を選ぶ。</p>        
        <form class="mb-4 payment">
            <div id="pay1" class="pay col-12">PayPay</div>
            <div id="pay2" class="pay col-12 my-2">LINEPay</div>
            <div class="pay" id="pay3">              
                <select class="styled-select" >
                <option>クレジットカード</option>
                <option >MasterCard</option>
                <option>VisaCard</option>
                <option>JCB</option>
                <option>AMEX</option>
                </select>
            </div>
        </form>
        <div class="border my-3 border-secondary b_border"></div>
        <p class="choice mb-3">ご注文内容の確認</p>
    </div>

    

    <section class="s_menus py-3"> 
        <% @orders.each do |order| %>                
            <div class="menu">
                <div class="d-flex">
                    <div class="m_left col-8">
                        <p class="m_name"><%=order.name%></p>
                        <p class="m_account"><%=order.small_plate%></p>
                        <p class="m_size"><%=order.size%></p>
                        <p class="m_etc"><%=order.etc%></p>
                        <% menu=Menu.find_by(name:order.name)%>
                        <p class="m_price  mb-2" ><span class="s_price"><%=menu.value.to_s(:delimited)%></span>円 &nbsp;(税込)<span class="f_price"><%=menu.value.to_s(:delimited)%></span></p>                  
                    </div>
                    <div class="m_right col-4 px-3">
                        <div class="m_change">
                            <%=link_to("変更", "/orders/#{order.id}/edit", {class: ""})%>
                        </div>
                        <div class="circles d-flex">
                            <%#<img src="/img/minus-circle.png" alt=""class="minus circle">%>
                            <div class="number"><span class="s_quantity"><%=order.quantity%></span>コ</div>
                            <%#<input type="hidden" name="quantity" value="1" id="<%=order.id%><%#%" class="m_hidden_quantity">%>
                            <%#<img src="/img/plus-circle.png" alt="" class="plus circle">%>
                        </div>      
                    </div>
                </div>
                <div class="border m-3 border-secondary b_border"></div>          
            </div>            
        <% end %>
        <p class="totalprice pl-3 m-0">合計&nbsp; <span id="totalPrice"><%=@su.to_s(:delimited)%></span>円 &nbsp;(税込) </p>
    </section>

    <div class="container mb-5 mt-3">          
        <p class="conform mt-1 mb-3">注文内容を確認します。次の画面で『決済を確定する』を選択するまで調理は開始されず、お支払いも確定しません。</p>      
        <%= link_to("/orders/decision",{method:"post", class: "kkk"}) do%>
            <button class="enter mt-1">注文を確定する</button>
        <% end %>
        <%=link_to("/orders/index",{class: "kkk"})do%>
            <button class="add mt-3">商品を追加する</button>
        <% end %>
        <%= link_to("/orders/#{@order.seat_number}/destroy",{method:"post", class: "kkk"}) do%>
            <button class="cancel mt-3">キャンセル</button>
        <% end %> 
    </div>
    
 </body>

<script>

    $('.pay').click(function(){
        $('.payment').find('select').css('border-color','white');
        if ($('.payment').find('.light')) {
            $('.payment').find('.light').removeClass('light');
            $(this).addClass('light');
        }else{
            $(this).addClass('light');
        }
    });

    function removeComma(number) {
    var removed = number.replace(/,/g, '');
    return parseInt(removed);
    };
    function addComma(num) {
    var _num = num.replace( /^(-?\d+)(\d{3})/, "$1,$2" );
    if(_num !== num) {
      return addComma(_num);
    }
    return _num;
    }    

    let i_minus = 1;    
    let minusId = $('.minus').attr('id',_ => 'minus' + i_minus++);

    let i_plus=1;
    let plusId = $('.plus').attr('id',_ =>'plus' + i_plus++);

    let i_number=1;    
    let numberId = $('.number').attr('id',_ =>'number' + i_number++);

    let i_price = 1;
    let priceId = $('.s_price').attr('id',_=>"s_price" + i_price++);

    let f_price = 1
    let fakePriceId = $('.f_price').attr('id',_=>"f_price" + f_price++);
    let originalPrice 


    let cartTable = 1
    let cartTableId = $('.menu').attr('id',_=>cartTable++);


//     $(minusId).click(function(){   
//         var getId = $(this).parents('.menu').attr('id');     
//         var count = $('#number'+getId).text(); 
//         var originalPrice = $(this).parents('.menu').find('#f_price'+getId).text();
//         let originalPriceNumber = removeComma(originalPrice);
//         var totalPrice = $('#totalPrice').text();
//         let totalPriceNumber = removeComma(totalPrice);
        

//         if (count>0) {
//             count--;
//             $('#number'+getId).text(count);
//             $('#s_price'+getId).text(count*originalPriceNumber);                 
//             $('#totalPrice').text(totalPriceNumber-originalPriceNumber);            

//             let againPrice = addComma(document.getElementById('s_price'+getId).textContent);
//             $('#s_price'+getId).text(againPrice);

//             let againTotalPrice = addComma(document.getElementById('totalPrice').textContent);
//             $('#totalPrice').text(againTotalPrice);
//         }
//     });

//     $(plusId).click(function(){
//     var getId = $(this).parents('.menu').attr('id');     
//     var count = $('#number'+getId).text(); 
//     var originalPrice = $(this).parents('.menu').find('#f_price'+getId).text();
//     let originalPriceNumber = removeComma(originalPrice);
//     var totalPrice = $('#totalPrice').text();
//     let totalPriceNumber = removeComma(totalPrice);
//     var orderId = $(this).parents('.circles').find('.m_hidden_quantity').attr('id');        

//     count++;
//     $('#number'+getId).text(count);
//     $('#s_price'+getId).text(count*originalPriceNumber);
//     $('#totalPrice').text(totalPriceNumber+originalPriceNumber);

//     let againPrice = addComma(document.getElementById('s_price'+getId).textContent);
//     $('#s_price'+getId).text(againPrice);

//     let againTotalPrice = addComma(document.getElementById('totalPrice').textContent);
//     $('#totalPrice').text(againTotalPrice);

//     $(this).parents('.circles').find('.m_hidden_quantity').val(count);   
//     $.ajax({
//         url: '/quantity/'+orderId+'/update',
//         data: { 'quantity': $(orderId).val(),
//                 'id': $(orderId).attr('id')
//         },
//         type: 'get',
        
//         success: function(){
//             $('#totalPrice').text("");
//         },
//         error: function(){
//             alert('エラーが発生しました。')    
//         }
//     })
    
// })


</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>