<body class="all_edit">

<div class="show-head ">
    <%=link_to("/orders/#{@current_user.seat_number}/check") do%>
        <i class="fas fa-angle-left fa-3x"></i>
    <% end %>
    <p class="name show-name text-center"><%=@menu.name%></p>
</div>
<div class="item">
    <div class="show-main-img">
        <img src="<%="/img/#{@menu.image_name}"%>" alt="" class="mx-1">
    </div>
    <p class="account px-2 mx-1">ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。</p>                    
    <%=form_tag("/orders/#{@order.id}/update") do%>
        <div class="mx-2">
            <% if @menu.item_id<3 %> 
                <p class="choice">小皿を選ぶ。</p>
                <div class="small_plate_choice">
                    <div class="d-flex text-center " style="justify-content:center;">
                        <div class="col m-1 c_choice <% if @order.small_plate=="名古屋コーチン入り鶏肉団子" %> pien  <%end%>" id="radio_label">
                            <label class="radio_label" ><input type="radio" name="btn_small_plate" value="名古屋コーチン入り鶏肉団子" class="radio" <% if @order.small_plate=="名古屋コーチン入り鶏肉団子" %> checked  <%end%>><img src="/img/img1-1.png" class="radio_image" id="label"><br>名古屋コーチン入り鶏肉団子</label>
                        </div>
                        <div class="col m-1  c_choice <% if @order.small_plate=="紀州南高梅はちみつ梅干し" %> pien  <%end%>" id="radio_label2">
                            <label class="radio_label" ><input type="radio" name="btn_small_plate" value="紀州南高梅はちみつ梅干し" class="radio" <% if @order.small_plate=="紀州南高梅はちみつ梅干し" %> checked <%end%>><img src="/img/img1-2.png" class="radio_image image-size" id="label2"><br>紀州南高梅はちみつ梅干し</label>
                        </div>
                    </div>
                    <div class="d-flex text-center mt-1 " style="justify-content:center;">
                        <div class="col m-1 c_choice <% if @order.small_plate=="なし" %> pien  <%end%>" id="radio_label3">
                            <label class="radio_label" ><input type="radio" name="btn_small_plate" value="なし" class="radio" <% if @order.small_plate=="なし" %> checked <%end%>><img src="/img/img1-3.png" class="radio_image image-size" id="label3"><br>なし</label>
                        </div>
                        <div class="col px-1 "></div>
                    </div>
                </div>
                <div class="border my-3 border-secondary b_border"></div>
            <% end %>
            <% if @menu.item_id<4 %>
                <p class="choice">サイズを選ぶ。</p>
                <div class="size_choice">
                    <div class="d-flex">
                        <div class="col-4 p-1 ">
                            <label class="radio_label2 c_choice <% if @order.size=="小盛り" %> pien  <%end%>" id="radio_label4"><input type="radio" name="btn_size" value="小盛り" class="radio radio_image" id="label4" <% if @order.size=="小盛り" %> checked <%end%>>小盛り</label>
                        </div>
                        <div class="col-4 p-1 ">
                            <label class="radio_label2 c_choice <% if @order.size=="普通" %> pien  <%end%>" id="radio_label5"><input type="radio"  name="btn_size" value="普通" class="radio radio_image" id="label5" <% if @order.size=="普通" %> checked <%end%>>普通</label>
                        </div>
                        <div class="col-4 p-1 ">
                            <label class="radio_label2 c_choice <% if @order.size=="大盛り" %> pien  <%end%>" id="radio_label6"><input type="radio" name="btn_size" value="大盛り" class="radio radio_image" id="label6" <% if @order.size=="大盛り" %> checked <%end%>>大盛り</label>
                        </div>
                    </div>
                </div>
                <div class="border my-3 border-secondary b_border"></div>
            <% end %>
            <% if @menu.item_id<3 %>
                <p class="choice">七味唐辛子を選ぶ。</p>
                <div class="option1_choice">
                    <div class="d-flex text-center " style="justify-content:center;">
                        <div class="col m-1 c_choice <% if @order.shichimi=="七味" %> pien  <%end%>" id="radio_label7">
                            <label class="radio_label" ><input type="radio" name="btn_shichimi" value="七味" class="radio" <% if @order.shichimi=="七味" %> checked <%end%>><img src="/img/img10.jpg" class="radio_image image-size" id="label7"><br>七味唐辛子</label>
                        </div>
                        <div class="col m-1  c_choice <% if @order.shichimi=="" %> pien  <%end%>" id="radio_label8">
                            <label class="radio_label" ><input type="radio" name="btn_shichimi" value="" class="radio" <% if @order.shichimi=="" %> checked <%end%>><img src="/img/img1-3.png" class="radio_image image-size" id="label8"><br>なし</label>
                        </div>
                    </div>
                </div>
                <div class="border my-3 border-secondary b_border"></div>
            <% end %>
            <% if @menu.id==2 or @menu.id==6 %>
                <p class="choice">柚子胡椒を選ぶ。</p>
                <div class="option2_choice">
                    <div class="d-flex text-center " style="justify-content:center;">
                        <div class="col m-1 c_choice <% if @order.yuzu_pepper=="柚子胡椒" %> pien  <%end%>" id="radio_label9">
                            <label class="radio_label" ><input type="radio" name="btn_yuzu_pepper" value="柚子胡椒" class="radio" <% if @order.yuzu_pepper=="柚子胡椒" %> checked <%end%>><img src="/img/img9.jpg" class="radio_image" id="label9"><br>柚子胡椒</label>
                        </div>
                        <div class="col m-1  c_choice <% if @order.yuzu_pepper=="" %> pien  <%end%>" id="radio_label10">
                            <label class="radio_label" ><input type="radio" name="btn_yuzu_pepper" value="" class="radio" <% if @order.yuzu_pepper=="" %> checked <%end%>><img src="/img/img1-3.png" class="radio_image image-size" id="label10"><br>なし</label>
                        </div>
                    </div>
                </div>
                <div class="border my-3 border-secondary b_border"></div>
            <% end %>
            <% if @menu.item_id==3 %>
                <p class="choice">レモンを選ぶ。</p>
                <div class="option3_choice">
                    <div class="d-flex text-center " style="justify-content:center;">
                        <div class="col m-1 c_choice <% if @order.lemon=="レモン" %> pien  <%end%>" id="radio_label11">
                            <label class="radio_label" ><input type="radio" name="btn_lemon" value="レモン" class="radio" <% if @order.lemon=="レモン" %> checked <%end%>><img src="/img/img11.jpg" class="radio_image image-size" id="label11"><br>レモン</label>
                        </div>
                        <div class="col m-1  c_choice <% if @order.lemon=="" %> pien  <%end%>" id="radio_label12">
                            <label class="radio_label" ><input type="radio" name="btn_lemon" value="" class="radio" <% if @order.lemon=="" %> checked <%end%>><img src="/img/img1-3.png" class="radio_image image-size" id="label12"><br>なし</label>
                        </div>
                    </div>
                </div>
                <div class="border my-3 border-secondary b_border"></div>
            <% end %>
            <p class="choice">その他ご要望はありますか?<span class="skip"><br>ないようでしたらスキップしてください</span></p>            
            <textarea class="t_area mb-3" name="etc" id="" cols="" rows="3"><%= @order.etc %></textarea>
        </div>

        <div class="footer pb-5">
            <div class="mx-3">
                <div class="d-flex pt-5 pb-4" >
                    <div class="col-6">
                        <img class="img8" src="/img/img8.png" alt="">
                        <img class="img7" src="/img/img1-4.png" alt="">    
                    </div>                                        
                    <% if @current_user %>
                        <input class="seat_number col-6" type="text" name="seat_number" value="<%=@current_user.seat_number%>">        
                    <% else %>
                        <input class="seat_number col-6" type="text" name="seat_number" placeholder="席番号を入力" value="<%=params[:seat_number]%>" required>         
                    <% end %>
                </div>
                <div class="border my-3 border-secondary b_border"></div>
                <div class="d-flex">
                    <p class="f_text my-2 col-8 px-2">￥<span class="mgr-5" id="s_price"><%=@order.price.to_s(:delimited)%></span>(税込)<span class="f_price"><%=@menu.value.to_s(:delimited)%></span></p>
                    <input type="hidden" name="price" value="<%=@order.price%>" id="hidden_price">
                    <div class="circles d-flex col-4 m-0 p-0">
                        <img src="/img/minus-circle.png" alt=""class="minus f_circle mr-3" id="s_minus">
                        <div class="s_number"  id="s_number"><%= @order.quantity %></div>
                        <input type="hidden" name="quantity" value="<%= @order.quantity %>" id="hidden_quantity">
                        <img src="/img/plus-circle.png" alt="" class="plus f_circle ml-3" id="s_plus">
                    </div>      
                </div> 
                <div class="border my-3 border-secondary b_border"></div>  
                <%= submit_tag "変更", :name=>"btn_update", :class=>"enter kkk col mt-4" %>
                <%= submit_tag "キャンセル", :name=>"btn_cancel", :class=>"add mt-3 kkk col" %>
            </div>
        </div>
    <% end %>  
</div>
</body>

<script>       
    $('.radio_image').click(function(){
            var ClickId = $(this).attr('id');            
            if (ClickId=="label" || ClickId=="label2" || ClickId=="label3") {
                $('.small_plate_choice').find('.pien').removeClass('pien');                
            }else if (ClickId=="label4" || ClickId=="label5" || ClickId=="label6") {
                $('.size_choice').find('.pien').removeClass('pien');
            }else if (ClickId=="label7" || ClickId=="label8") {
                $('.option1_choice').find('.pien').removeClass('pien');
            }else if (ClickId=="label9" || ClickId=="label10") {
                $('.option2_choice').find('.pien').removeClass('pien');
            }else if (ClickId=="label11" || ClickId=="label12") {
                $('.option3_choice').find('.pien').removeClass('pien');
            }          
            var AddClass=$('#radio_' + ClickId).addClass('pien');
        }) 

        var count=$('#s_number').text();
        function removeComma(number) {
            var removed = number.replace(/,/g, '');
            return parseInt(removed);
        };
        function addComma(num) {
            var _num = num.replace( /^(-?\d+)(\d{3})/, "$1,$2" );
            if(_num !== num) {
                return addComma(_num);
            }
            return _num;
        }    
        var number = $('.f_price').text();
        $('#s_minus').click(function(){
            var removeNumber = removeComma(number);
            if (count>0) {
                count--;
                $('#s_number').text(count);
                $('#s_price').text(count*removeNumber);

                let commaNumber = addComma($('#s_price').text());
                $('#s_price').text(commaNumber);
                $('#hidden_quantity').val(count);
                $('#hidden_price').val(removeComma($('#s_price').text()));
                console.log(number);
            }
        })

        $('#s_plus').click(function(){
            var removeNumber = removeComma(number);            
            count++;
            $('#s_number').text(count);
            $('#s_price').text(count*removeNumber);

            let commaNumber = addComma($('#s_price').text());
            $('#s_price').text(commaNumber);    
            $('#hidden_quantity').val(count);   
            $('#hidden_price').val(removeComma($('#s_price').text()));
            console.log(count);
        })
      
  </script>