<div class="container">
    <h1 class="title text-center py-3">
      詳細メニュー
    </h1>

    <div class="container">  
        <div class="error_message">
            <% if @error_messages %>
                <% @error_messages.each do |error_message| %>
                    <%=error_message%><br>              
                <% end %>
            <% else @error_message%>
                <%=@error_message%>     
            <% end %>
        </div>
        <%=form_tag("/orders/#{@menu.id}/create") do%>
            <div class="item">
                <img src="<%="/img/#{@menu.image_name}"%>" alt="" class="">
                <p class="name pt-3"><%=@menu.name%></p>
                <p class="account">ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。ここに説明分が入ります。</p>                
                <% if @menu.item_id<3 %>              
                    <div class="radio mb-4">
                        <p class="choice">小皿を選択してください</p>
                        <input type="radio" name="btn_small_plate" value="名古屋コーチン入り鶏肉団子" required>鶏肉団子&nbsp;|
                        <input type="radio" name="btn_small_plate" value="梅干し">梅干し&nbsp;|
                        <input type="radio" name="btn_small_plate" value="なし">なし
                    </div>
                <% end %>                
                <p class="text"><%=@menu.price%></p>      
                <p class="choice">席番号を入力してください</p>
                <% if @current_user %>
                    <input type="text" name="seat_number" value="<%=@current_user.seat_number%>">        
                <% else %>
                    <input type="text" name="seat_number" value="<%=params[:seat_number]%>" required>         
                <% end %>
                <% if @menu.item_id<4 %>
                    <div class="radio mb-4">
                            <p class="choice">サイズを選択してください</p>
                            <input type="radio" name="btn_size" value="小盛り">小盛り&nbsp;|
                            <input type="radio" name="btn_size" value="普通" checked>普通&nbsp;|
                            <input type="radio" name="btn_size" value="大盛り">大盛り
                    </div>                  
                <% end %>
                <p>ご要望</p>
                <textarea name="etc" id="" cols="35" rows="2"></textarea>
            </div>

            <div class="d-flex ml-5 mt-3">
                <%= submit_tag "カートに追加", :name=>"btn_cart" %>
                <%= submit_tag "会計に進む", :name=>"btn_check" %>
            </div>
            
        <% end %>
  </div>